h2 {color: blue;}
h3 {color: blue;}
body {font-size: 20px; color: black;}
body { font-family: Arial, Helvetica, sans-serif;}
#Education {padding: 0px; padding: 10px;}
#Education {color: blue; padding: 10px;}
#Experience {color: blue; padding: 10px;}
#Skills {color: blue; padding: 10px;}
#Contact-Details {color: blue; padding: 10px;}