h2 {color: blue;}

h3 {color: blue;}

body { font-size: 20px; color: black;}
body { font-family: Arial, Helvetica, sans-serif;}

#Education {color: blue; padding: 10px;}

#Experience {color: blue; padding: 10px;}

#Skills {color: blue; padding: 10px;}

#Contact-Details {color: blue; padding: 10px;}

section {
    background-color: white;
}

body {
    background-color: white; margin: 0%;
}
header {
    background-color: dodgerblue;
     padding: 50px;

}
.image-main {
    display: block; margin-left: auto; margin-right: auto;
}
    
.A {
    text-align: center;
}

h1 {
    text-align: center;
}